.color-picker-replacer .sp-preview {
    margin: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.color-picker-replacer .sp-preview .sp-preview-inner {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
}

.sp-palette .sp-thumb-el {
    width: 36px !important;
    height: 36px !important;
}

.color-picker-full-replacer .sp-preview, .color-picker-real-time-replacer .sp-preview {
    margin: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.color-picker-full-replacer .sp-preview .sp-preview-inner, .color-picker-real-time-replacer .sp-preview .sp-preview-inner {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
}


.color-picker-replacer {
    margin: 0px;
    width: 4vh !important;
    height: 2.9vh;
    /*
	top:0.45vh !important;
	right: 0;
	position: absolute;
*/
    padding: 0 !important;
}


/* COLOR PICKERS IN CROSSHAIR EDITOR */

.color-picker-full-replacer, .color-picker-real-time-replacer {
    margin: 0px;
    width: 4vh !important;
    height: 2.9vh;
    padding: 0 !important;
}
